name: CI
on: [push, pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt scalafmtCheckAll scalafmtSbtCheck

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt "++${{matrix.scala}} test"
    strategy:
      matrix:
        scala:
          - '2.12.21'
          - '2.13.18'

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: |
          sbt coverage test coverageAggregate
          bash <(curl -s https://codecov.io/bash)
